name: Continuous Deployment Pipeline - Project-Matrix

on:
  push:
    branches:
      - main
  workflow_dispatch: {}

concurrency:
  group: ecs_prod_deploy
  cancel-in-progress: true

permissions:
    contents: read
    id-token: write

env:
    AWS_REGION: eu-north-1
    ECR_REPOSITORY: project-matrix
    ECS_CLUSTER: project-matrix-cluster
    ECS_SERVICE: project-matrix-svc
    ECS_CONTAINER_NAME: project-matrix
    ECS_TASK_DEFINITION_PATH: ./infra/taskdef.json

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
        - name: Checkout
          uses: actions/checkout@v4

        - name: Configure AWS Credentials
          uses: aws-actions/configure-aws-credentials@v4
          with:
            role-to-assume: ${{ secrets.AWS_ROLE_TO_ASSUME }}
            aws-region: ${{ env.AWS_REGION }}

        - name: Login to Amazon ECR
          id: ecr-login
          uses: aws-actions/amazon-ecr-login@v2

        - name : Build, Tag, and Push Docker Image
          id: build
          env:
            ECR_REGISTRY: ${{ steps.ecr-login.outputs.registry }}
            IMAGE_TAG: ${{ github.sha }}

          run: |
            set -euo pipefail
            IMAGE_URI=${ECR_REGISTRY}/${ECR_REPOSITORY}:${IMAGE_TAG}

            docker build -t ${IMAGE_URI} .
            docker push ${IMAGE_URI}

            echo "image_uri=${IMAGE_URI}" >> "$GITHUB_OUTPUT"

        - name: Render new task definition
          id: render
          uses: aws-actions/amazon-ecs-render-task-definition@v1
          with:
            task-definition: ${{ env.ECS_TASK_DEFINITION_PATH }}
            container-name: ${{ env.ECS_CONTAINER_NAME }}
            image: ${{ steps.build.outputs.image_uri }}

        - name: Deploy to Amazon ECS service
          uses: aws-actions/amazon-ecs-deploy-task-definition@v2
          with:
            task-definition: ${{ steps.render.outputs.task-definition }}
            service: ${{ env.ECS_SERVICE }}
            cluster: ${{ env.ECS_CLUSTER }}
            wait-for-service-stability: true
